<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>Login page</p>

    <form class="" action="{% url 'login' %}" method="POST">
      {% csrf_token %}

      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p> Don't have an account? <a href="{% url 'dashboard:register' %}" class="ml-2">Register</a> </p>


  </body>
</html>
