{% extends "base_generic.html" %}

{% block content %}

    <p>Inició de sesión</p>

    <form class="" action="{% url 'login' %}" method="POST">
      {% csrf_token %}

      <table>
        <tr>
          <td>Usuario</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>Contraseña</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="Iniciar sesión" />
      
    </form>

    <p> No tienes cuenta? <a href="{% url 'dashboard:register' %}" class="ml-2">Registrarse</a> </p>


{% endblock %}
