{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">


<div class="container login">

    <h1> </h1>

    <form action="{% url 'login' %}" method="POST">

      {% csrf_token %}

      <div class="form-control">
        <label>Usuario</label>
        {{form.username}}
      </div>

      <div class="form-control">
        <label>Contraseña</label>
        {{form.password}}
      </div>

      <button class="btn">Iniciar sesión</button>



      <p class="text">No tienes cuenta? &nbsp
         <a class="rlink" href="{% url 'dashboard:register' %}"> Crear cuenta</a> </p>


      </form>
</div>




{% endblock %}
