<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>Registro de usuario</p>

    <form class="" action="{% url 'dashboard:register' %}" method="POST">

      {% csrf_token %}

      <table>
        <tr>
          <td>Usuario</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <td>Contraseña</td>
          <td>{{ form.password1 }}</td>
        </tr>
        <tr>
          <td>Repetir contraseña</td>
          <td>{{ form.password2 }}</td>
        </tr>
      </table>

      <input type="submit" value="Registrarse" />
      <input type="hidden" name="next" value="{{ next }}" />

    </form>

    <p> Ya tienes cuenta? <a href="{% url 'login' %}" >Inicia sesión</a> </p>

    {{form.errors}}

  </body>
</html>
