{% extends "base_generic.html" %}

{% block content %}

    <p>Registro de usuario</p>

    <form class="" action="{% url 'dashboard:register' %}" method="POST">

      {% csrf_token %}

      <table>
        <tr>
          <td>Usuario</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <td>Contraseña</td>
          <td>{{ form.password1 }}</td>
        </tr>
        <tr>
          <td>Repetir contraseña</td>
          <td>{{ form.password2 }}</td>
        </tr>
      </table>

      <input type="submit" value="Registrarse" />
     

    </form>

    <p> Ya tienes cuenta? <a href="{% url 'login' %}" >Inicia sesión</a> </p>

    {{form.errors}}

{% endblock %}
