{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">


<div class="container login">

    <h1> </h1>

    <form action="{% url 'dashboard:register' %}" method="POST">

      {% csrf_token %}

      <div class="form-control">
        <label>Usuario</label>
        {{form.username}}
      </div>

      <div class="form-control">
        <label>Email</label>
        {{form.email}}
      </div>

      <div class="form-control">
        <label>Contraseña</label>
        {{form.password1}}
      </div>

      <div class="form-control">
        <label>Repetir contraseña</label>
        {{form.password2}}
      </div>

      <button class="btn">Crear cuenta</button>



      <p class="text">Ya tienes cuenta? &nbsp
         <a class="rlink" href="{% url 'login' %}"> Iniciar sesión</a> </p>


      </form>
  </div>

  {{form.errors}}


{% endblock %}
