{% extends "base_generic.html" %}

{% block content %}

    <br>

    <h3 class="fecha"> Hoy es 16 de julio del 2020  </h3>

    <br>

    <div class="card">

      <h3>DATOS GLOBALES EN LOS ÚLTIMOS 7 DÍAS</h3>
      <br>
      <ul>
        <li>Casos confirmados: &nbsp {{confirmados}}</li>
        <li>Recuperados: &nbsp {{recuperados}}</li>
        <li>Muertes: &nbsp {{muertes}}</li>
        <li>Activos: &nbsp {{activos}}</li>
        <li>Críticos: &nbsp {{criticos}}</li>
      </ul>

    </div>

    <br>
    <br>

    <h3>DATOS POR PAÍS EN LAS ÚLTIMAS 24 HORAS</h3>

    <br>


    <form action="" method="POST">

      {% csrf_token %}

      <label class="elige" for="countries">Selecciona:</label>

      <select class="form-select form-select-sm" id="select" name="selected_country">

        <option style="display:none">Lista de países</option>

        {% for country in list_of_countries %}
          <option> {{country}} </option>
        {% endfor %}

      </select>

      <button class="btn">Consultar</button>

    </form>


    <br>


    {% if nombre_pais %}
      <br>

      <h4 class="pais">{{nombre_pais}} - {{selected_country}}</h4>

      <div class="countrydata">

        <ul>
          <li>Casos Confirmados total: &nbsp {{confirmados_total_pais}}</li>
          <li>Recuperados total: &nbsp {{recuperados_total_pais}}</li>
          <li>Muertes total: &nbsp {{muertes_total_pais}}</li>
          <li>Críticos total: &nbsp {{criticos_total_pais}}</li>
        </ul>

        <ul>
          <li>Casos Confirmados hoy: &nbsp {{confirmados_dia_pais}}</li>
          <li>Recuperados hoy: &nbsp {{recuperados_dia_pais}}</li>
          <li>Muertes hoy: &nbsp {{muertes_dia_pais}}</li>
          <li>Activos hoy: &nbsp {{activos_dia_pais}}</li>
        </ul>

      </div>

    {% else %}

      <br>

      <div class="countrydata">

      </div>

    {% endif %}





{% endblock %}
