{% extends "base_generic.html" %}

{% block content %}

    <br>

    <h3 class="fecha"> Hoy es 16 de julio del 2020  </h3>

    <br>

    <div class="card">

      <h3>Datos globales en los últimos siete días</h3>
      <br>
      <ul>
        <li>Casos confirmados: {{confirmados}}</li>
        <li>Recuperados: {{recuperados}}</li>
        <li>Muertes: {{muertes}}</li>
        <li>Activos: {{activos}}</li>
        <li>Críticos: {{criticos}}</li>
      </ul>

    </div>

    <br>
    <br>

    <h3>Datos por país para hoy</h3>

    <br>

    <form action="" method="POST">
      {% csrf_token %}
      <label for="countries">Elige un país:</label>
      <select class="form-select" name="selected_country">
          <option style="display:none">Selecciona...</option>
        {% for country in list_of_countries %}
          <option> {{country}} </option>
        {% endfor %}
      <br><br>
      <input type="submit" value="Consultar">
      </select>
    </form>

    <br>

    {% if nombre_pais %}

      {{nombre_pais}} - {{selected_country}}

      <br>

      <div class="countrydata">

        <ul>
          <li>Casos Confirmados: {{confirmados_total_pais}}</li>
          <li>Recuperados: {{recuperados_total_pais}}</li>
          <li>Muertes: {{muertes_total_pais}}</li>
          <li>Críticos: {{criticos_total_pais}}</li>
        </ul>

        <ul>
          <li>Confirmados hoy: {{confirmados_dia_pais}}</li>
          <li>Recuperados hoy: {{recuperados_dia_pais}}</li>
          <li>Muertes hoy: {{muertes_dia_pais}}</li>
          <li>Activos hoy: {{activos_dia_pais}}</li>
        </ul>

      </div>

    {% else %}

      <br>

      <div class="countrydata">

      </div>

    {% endif %}





{% endblock %}
